@media screen and (min-width: 767px) {

    body > nav {
        margin-top: -50px;
        animation-name: nav_drop_down;
        animation-duration: 0.75s;
        animation-delay: 0.35s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes nav_drop_down {
        from {margin-top: -50px;}
        to {margin-top: 0px;}
    }

    footer, hr{
        opacity: 0.0;
        animation-name: reveal_items;
        animation-duration: 0.5s;
        animation-delay: 0.25s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes reveal_items {
        from {opacity: 0.0;}
        to {opacity: 1;}
    }



#main_column > div.row > div {
    -ms-transform: rotate(180deg);  /* IE 9 */
    -ms-transform-origin: 600px 600px; /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 600px 600px; /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    transform-origin: 600px 600px;
    animation-name: rotate_main_items_1;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    }

    @keyframes rotate_main_items_1 {
        from {transform: rotate(180deg);}
        to {transform: rotate(0deg);}
    }

.item_panel {
    background-image: url("/static/images/backgrounds/django.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 1600px 600px;
    animation-name: move_background;
    animation-duration: 7s;
    animation-delay: 5.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }

    @keyframes move_background {
        from {background-position: 1600px 500px;}
        to {background-position: -1600px -300px;;}
    }


#left_column {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: -300px 50%%; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: -300px 50%%; /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin: -300px 50%;
    animation-name: rotate_rezume;
    animation-duration: 1.5s;
    animation-delay: 4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    }

    @keyframes rotate_rezume {
        from {transform: rotate(-90deg);}
        to {transform: rotate(0deg);}
    }
}

/*     turn off animation on screens less 768px       */
@media screen and (max-width: 767px) {
    .my_jumbotron h1 {
        display: none;
    }
}
