html {
    height:100%;
}

body {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #bfd4ef;
  color: black;
}

body > div.container {
    height: 100%
}

body > div.container > div.row {
    height: 100%
}

/*  home page */
.my_rezume {
    padding: 5px 10px 10px 10px;
}

.my_rezume img {
    width: 40%;
    float: left;
    margin: 10px;
    border-radius: 5px;
}

.item_panel {
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Form control input */
form.bs3 input{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  //color: #555;
  //background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
form.bs3 input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
form.bs3 input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
form.bs3 input:-ms-input-placeholder {
  color: #999;
}
form.bs3 input::-webkit-input-placeholder {
  color: #999;
}
form-.bs3 input::-ms-expand {
  background-color: transparent;
  border: 0;
}
form.bs3 input[disabled],
form.bs3 input[readonly],
form.bs3 fieldset[disabled] input {
  background-color: #eee;
  opacity: 1;
}
form.bs3 input[disabled],
form.bs3 fieldset[disabled] input {
  cursor: not-allowed;
}
form.bs3 textarea {
  height: auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  }
  
  /* has-error form input */
form.bs3 .has-error .help-block,
form.bs3 .has-error .control-label,
form.bs3 .has-error input,
form.bs3 .has-error.radio label,
form.bs3 .has-error.checkbox label,
form.bs3 .has-error.radio-inline label,
form.bs3 .has-error.checkbox-inline label {
  color: #a94442;
}
form.bs3 .has-error input {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
form.bs3 .has-error input:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
