
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  min-height: 800px;
}

.my_brand {
    background-color: deepskyblue;
}

/*       thanks page      */
div#thanks {
    margin-top: 10%;
    margin-bottom: 90%;
}

body > nav {
    margin-top: -50px;
    animation-name: nav_drop_down;
    animation-duration: 0.75s;
    animation-delay: 0.25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes nav_drop_down {
    from {margin-top: -50px;}
    to {margin-top: 0px;}
}

div.jumbotron {
    margin-top: -600px;
    animation-name: jumbotron_drop_down;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes jumbotron_drop_down {
    from {margin-top: -600px;}
    to {margin-top: 0px;}
}

footer, hr, div#homepage_items div {
    opacity: 0.0;
    animation-name: reveal_items;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}



@keyframes reveal_items {
    from {opacity: 0.0;}
    to {opacity: 1;}
}
