body, html {
    height: 100%;
}
/* Move down content because we have a fixed navbar that is 50px tall */


body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url(/static/images/backgrounds/bkgr_1920_1080.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* navigation */
#my_navbar {
    background-color: rgb(3, 4, 66);
    background-color: rgba(114, 90, 72, 0.8);
}

#my_navbar * {
    color: white;
    background-color: unset;
}

#my_navbar ul.nav li.active a {
    color: silver;
    text-decoration: underline;
}

#my_navbar .dropdown-menu {
    background-color: rgba(114, 90, 72, 0.8);
}

/*       thanks page      */
div#thanks {
    margin-top: 10%;
    margin-bottom: 90%;
}

/*  home page */

.my_rezume {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: rgba(134, 110, 92, 0.9);
    color: #33190B;
    border-radius: 5px;
    padding: 0px 10px 1px 5px;
}

.my_rezume img {
    width: 40%;
    float: left;
    margin: 5px;
    border-radius: 5px;
}

.my_rezume a {
    color: #6c050d;
}

.my_rezume a:hover {
    color: #284075;
}

.my_jumbotron {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(134, 110, 92, 0.9);
    color: #33190B;
    border-radius: 5px;
    padding: 0px 10px 1px 5px;
}

#my_header_items  div.col-md-6 div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //text-align: center;
    background-color: rgba(134, 110, 92, 0.9);
    color: #33190B;
    border-radius: 5px;
    padding: 0px 10px 1px 10px;
}

#my_header_items a.btn-default {
    background: unset;
    color: #33190B;
    border-color: #33190B;
}

#my_header_items a.btn-default {
    background: unset;
    color: #33190B;
    border-color: #33190B;
}
