{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "All Django form fields." %}{% endblock %}

{% block nav_items %}
    <li><a href="{% url 'portfolio:home' %}">{% trans "Home" %}</a></li>
    <li class="active my_active"><a href="{% url 'portfolio:django_forms' 'text_input' %}">{% trans "Forms" %}</a></li>
    <li><a href="{% url 'portfolio:contact' %}">{% trans "Contact" %}</a></li>
{% endblock nav_items %}

{% block main_container %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="text-success">{% trans "A full set of Django form fields" %}</h4>
            </div>
            <div id="django_forms" class="col-md-8 col-md-offset-2">
                  <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" {% if 'text-input' in request.resolver_match.args %}class="active"{% endif %}><a href="{% url 'portfolio:django_forms' 'text-input' %}">{% trans "TextInput fields" %}</a></li>
                    <li role="presentation" {% if 'date-time-fields' in request.resolver_match.args %}class="active"{% endif %}><a href="{% url 'portfolio:django_forms' 'date-time-fields' %}">{% trans "Time and Date" %}</a></li>
                    <li role="presentation" {% if 'html5-input-types' in request.resolver_match.args %}class="active"{% endif %}><a href="{% url 'portfolio:django_forms' 'html5-input-types' %}">{% trans "HTML5 input" %}</a></li>
                    <li role="presentation" {% if 'choice-fields' in request.resolver_match.args %}class="active"{% endif %}><a href="{% url 'portfolio:django_forms' 'choice-fields' %}">{% trans "Choice fields" %}</a></li>
                </ul>
                <div>
                    {% crispy form %}
                </div>
            </div><!-- col-md-12 -->
        </div>
    </div><!-- container-->
{% endblock main_container %}
