{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "All Django form fields." %}{% endblock %}

{% block nav_items %}
    <li><a href="{% url 'portfolio:home' %}">{% trans "Home" %}</a></li>
    <li class="active my_active"><a href="{% url 'portfolio:django_forms' %}">{% trans "Forms" %}</a></li>
    <li><a href="{% url 'portfolio:contact' %}">{% trans "Contact" %}</a></li>
{% endblock nav_items %}

{% block main_container %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 jumbotron">
                <h3>{% trans 'This is a full set of Django form fields. Use it to try how your forms behave and look like.' %}</h3>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p>
                    &quot;{% trans 'If your form includes a URLField, an EmailField or any integer field type, Django will use the url, email and number HTML5 input types. By default, browsers may apply their own validation on these fields, which may be stricter than Django’s validation. If you would like to disable this behavior, set the novalidate attribute on the form tag, or specify a different widget on the field, like TextInput.' %}&quot; (<a href="https://docs.djangoproject.com/en/1.10/topics/forms/#working-with-forms" target="_blank">Django Documentation <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>)
                </p>
                <hr />
            </div>
        </div>
        <div class="row">
            <div id="django_forms" class="col-md-6 col-md-offset-3">
                <form id="django_fields_form" action="{% url 'portfolio:django_forms' %}" method="post" autocomplete="off" novalidate="">
                    {% crispy form form.helper %}
                </form>
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container-->
{% endblock main_container %}
