{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "All Django form fields." %}{% endblock %}

{% block nav_items %}
    <li><a href="{% url 'portfolio:home' %}">{% trans "Home" %}</a></li>
    <li class="my_active"><a href="{% url 'portfolio:django_forms' %}">{% trans "Forms" %}</a></li>
    <li><a href="{% url 'portfolio:contact' %}">{% trans "Contact" %}</a></li>
{% endblock nav_items %}

{% block main_container %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron">
                <h3>{% trans 'This is a set of Django form fields. It is based on Bootstrap3. Use it to try how your forms behave and look like.' %}</h3>
            </div>
        </div>
        <div class="row">
            <div id="django_forms" class="col-md-6 col-md-offset-3">
                <form id="django_fields_form" action="{% url 'portfolio:django_forms' %}" method="post" autocomplete="off" novalidate="">
                    {% crispy form form.helper %}
                </form>
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container-->
{% endblock main_container %}
