{% load i18n %}
                <li {% if 'home' in request.path %}class="active"{% endif %}><a href="{% url 'portfolio:home' %}">{% trans "Home" %}</a></li>
                <li class="dropdown {% if 'forms' in request.path %}active{% endif %}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Forms" %} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'portfolio:django_forms' 'text-input' %}">{% trans "Django fields" %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li {% if 'django-tinymce' in request.path %}class="active"{% endif %}><a href="{% url 'portfolio:tinymce' 'django-tinymce' %}">django-tinymce</a></li>
                    <li {% if 'tinymce4' in request.path %}class="active"{% endif %}><a href="{% url 'portfolio:tinymce' 'tinymce4' %}">TinyMCE 4</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li {% if 'contact' in request.path %}class="active"{% endif %}><a href="{% url 'portfolio:contact' %}">{% trans "Contact" %}</a></li>
{#                <li {% if 'css3' in request.path %}class="active"{% endif %}><a href="{% url 'portfolio:css3' %}">CSS3</a></li>#}
