{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Page not found" %}{% endblock %}

{% block main_container %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron text-center">
                <h1><span style="color:green;">4</span><span style="color:red">0</span><span style="color:blue">4</span></h1>
                <p style="color:#FF0040">{% trans "Page not found" %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock main_container %}
