{% extends 'registration/form_holder.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Change your password." %}{% endblock %}

{% block form_place %}
    <form class="bs3" method="post" action="" novalidate>
        {% csrf_token %}
        {% include "registration/bootstrap_form_loop_snippet.html" %}
        <div class="form-group">
            <input class="btn btn-default btn-block" type="submit" value="{% trans 'Change password' %}" >
        </div>
    </form>
{% endblock form_place %}
