{% extends 'registration/form_holder.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block form_place %}
            <h3 style="text-align:center">{% trans "User registration." %}</h3>
            <form class="bs3" method="post" action="" novalidate>
                {% csrf_token %}
                {% include "registration/bootstrap_form_loop_snippet.html" %}
                <hr>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">{% trans "Create account" %}</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="reset">{% trans "Reset"%}</button>
                </div>
            </form>
{% endblock form_place %}
