{% extends 'registration/form_holder.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block form_place %}
    <h1>{{ title }}</h1>
    {% if validlink %}
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form class="bs3" method="post">{% csrf_token %}
            {% include "registration/bootstrap_form_loop_snippet.html" %}
            <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Change my password' %}" />
            </div>
        </form>
        {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock form_place %}
