{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Thank you for your email." %}{% endblock %}
{% block main_container %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="thanks" class="panel panel-default">
                  <div class="panel-body">
                    <h1>{{ title }}</h1>
                    {% if validlink %}

                        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                        <form method="post">{% csrf_token %}
                            <div class="form-group {% if form.password1.errors or form.non_field_errors %}has-error{% endif %}">
                                {{ form.new_password1.errors }}
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="id_new_password1">{% trans 'New password:' %}</label>
                                    </div>
                                    <div class="col-md-7">
                                        {{ form.new_password1 }}
                                    </div>
                                </div><!--row-->
                            </div>
                            <div class="form-group {% if form.password2.errors or form.non_field_errors %}has-error{% endif %}">
                                {{ form.new_password2.errors }}
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                                    </div>
                                    <div class="col-md-7">
                                        {{ form.new_password2 }}
                                    </div>
                                </div><!--row-->
                            </div>
                            <div class="form-group">
                            <input type="submit" class="btn btn-default btn-block" value="{% trans 'Change my password' %}" />
                            </div>
                        </form>

                        {% else %}

                        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                    {% endif %}
                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md -->
        </div><!-- row -->
{% endblock main_container %}
